@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4c4c4c;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #d5dae0;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent; /* Цвет трека (фона) */
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none; /* Скрыть ползунок прокрутки */
  }

  /* Для Firefox */
  .scroll-hidden {
    scrollbar-width: none; /* Скрыть ползунок в Firefox */
  }

  .custom-wrapper .swiper-wrapper {
    @apply flex items-center;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
